#einleitung {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
    letter-spacing: 0px;

}

body {
    width: 200px;
    margin: 50px;
    background-color: seagreen;
    padding: 20px 20px 20px 20px;
    border: 5px solid black;
}

p {
    text-shadow: 3px 3px 0px;
}

img {
    width: 600px;
}

canvas { 
    height: 100vh; 
    width: 100vw; 
    display: block;
  }